<h1>Welcome to BARK-it</h1><br>
<h2>The second worst social media</h2><br>
<br>
<h3>How it started:</h3><br>
<p>One day I was bored and made a random posting board for fun. The old code was abandoned for this new sleek rewrite mostly done by Mega16 with help from Bigjango. The sites layout was mostly made by Skykrye and its still in development so it may change over time.</p>
<br>
<br>
<h2>FAQ</h2>
<br>
<h3>How do I post? I've tried and I can't :'(</h3><br>
<p>Just simply hit register and make a kewl password and username.</p>
<br>
<h3>When will BARK-it be released?</h3><br>
<p>When it's finished.</p>
<br>
<h3>I GOT A BUG!?!!??!?!?!:</h3><br>
<p>Report it in the </p><a href=https://discord.gg/EqYAQDr8qv>discord</a> or add an issue on the <a href=https://github.com/megaboi2005/bark-it>github<a>
<br>
<h3>I wanna help</h3>
<br>Fork it on <a href=https://github.com/megaboi2005/bark-it>github</a>, make your changes and submit a pull request.<br>
<br>
<h4>And that's it, if you have any questions just join the discord and I'll give a quick answer</h4>
