<style>

</style>


<script>
	const list = ["about","tos","privacy","faq"]

	function switchtab(num) {

		for (i=0;i<4;i++) {
			var select = document.getElementById(list[i]);
			if (i==num) {
				select.style.display = "block"
			} 
			else {
				select.style.display = "none"
			}
		}
	}
</script>

<center>
	<button onclick="switchtab(0)" style="width: 10%;">About</button>
	<button onclick="switchtab(1)" style="width: 10%;">Terms of Service</button>
	<button onclick="switchtab(2)" style="width: 10%;">Privacy Policy</button>
	<button onclick="switchtab(3)" style="width: 10%;">FAQ</button>
</center>
<br>

<div class = posts id="about" style="display: none;">
	<center>
		<h1>Welcome to Bark-IT</h1><br>
		<h2>The second worst social media</h2><br>
		<br>
		<div class=post>
		<h3>How it started:</h3><br>
		<p>I woke up one day and since I was quarantined and didn't feel like doing school, I made something called <b>Bark</b>. Bark was a public board until I decided to name it Bark-IT with 	the promise of being better than twitter. Me and bigjango rewrote bark-it to have accounts and more, but it was poorly written and eventually we turned to flask to hopefully make things 	better. I started quite a while ago before writing this. I lost motivation until today, and today is everyday until Bark-IT passes twitter and restores hope and freedom to the 	internet....</p>
		</div>
		<br>
		<br>

	</center>
</div>

<div class = posts id="tos" style="display: none;">
	<center>
		<h1>TOS</h1><br>
		<h2>Guidelines for freedom</h2><br>

	</center>
</div>

<div class = posts id="privacy" style="display: none;">
	<center>
		<h1>Privacy Policy</h1><br>
		<h2>The data we store for personal use</h2><br>

	</center>
</div>

<div class = posts id="faq" style="display: none;">
	<center>
		<h1>FAQ</h1><br>
		<h2>Commonly asked questions</h2><br>
		<div class=post>
			<h2>FAQ</h2>
			<br>
			<h3>How do I post? I've tried and I can't :'(</h3><br>
			<p>Just simply hit register and make a kewl password and username</p>
			<br>
			<h3>When will BARK-it be released?</h3><br>
			<p>When it's finished.</p>
			<br>
			<h3>I GOT A BUG!?!!??!?!?!:</h3><br>
			<p>Report it in the </p><a href=https://discord.gg/EqYAQDr8qv>discord</a> or add an issue on the <a href=https://github.com/megaboi2005/bark-it>github</a>
			<br>
			<h3>I wanna help</h3>
			<br>Fork it on <a href=https://github.com/megaboi2005/bark-it>github</a>, make your changes and submit a pull request.<br>
			<br>
			<h4>And that's it, if you have any questions just join the discord and I'll give a quick answer</h4>
			</div>
	</center>
</div>