<center>
    <div class="posts">
      <h1>Channels</h1>
    </div>
    <div class="posts" style="bottom: 20%;">
      <h2 class="post">
        <a href="/channels/help" class="header-link">HELP</a>
      </h2>
      <h4>Ask questions pertaining to Bark-It</h4>
      <h2 class="post">
        <a href="/channels/art" class="header-link">ART</a>
      </h2>
      <h4>Showcase and discuss art here</h4>
      <h2 class="post">
        <a href="/channels/music" class="header-link">MUSIC</a>
      </h2>
      <h4>Have an artist you like? Share them here</h4>
      <h2 class="post">
        <a href="/channels/gaming" class="header-link">GAMING</a>
      </h2>
      <h4>Showcase your Ws and your Ls</h4>
      <br>
    </div>
  </center>
  <style>
    .header-link{
        color: white; 
        text-decoration: none;
        width: 90%; 
        display: inline-block;
    }
  </style>
  