<div class=posts style="height: 95%; overflow: auto;" id=posts>
  <div id="wrapper" style="height: 100%; overflow: auto;">
    <div id="content"> </div>
  </div>
</div>
<script type="text/javascript">

var wrapper, content, test;
var nullcheck = false
var postvar
function getcount() {
  let xmlHttpReq = new XMLHttpRequest();
  xmlHttpReq.open("GET", "^counter^", false);
  xmlHttpReq.send(null);
  postvar = Number(xmlHttpReq.responseText) - 1
  console.log(postvar)
  
}
document.addEventListener("DOMContentLoaded", function() {
  getcount();
  for (let i=0; i<9; i++){
          if (nullcheck == true) {
            break
          }
          let xmlHttpReq = new XMLHttpRequest();
          console.log("/api/^api^?arg="+postvar)
          xmlHttpReq.open("GET", "/api/^api^?arg="+postvar, false); 
          xmlHttpReq.send(null);
        if (xmlHttpReq.responseText !== "null") {
          console.log(nullcheck)
          try {
            var postarray = JSON.parse(xmlHttpReq.responseText)
          } catch {}
          
          
          content.innerHTML += `<center><div class=post><a href=/user/{{user}}><textarea class=name rows=\"2\" readonly>Posted by {{user}}</textarea></a><br><textarea class=name rows="2"   readonly>{{title}}</textarea><br><textarea style="resize: vertical;" readonly class=textpost rows=\"5\">{{content}}</textarea><br><a href=/comments/{PostID}><button>Comments ( WIP)</button>
            </a></br></div> </center>`.replaceAll("{{user}}",postarray["author"]).replace("{{title}}",postarray["title"]).replace("{{content}}",postarray["content"]); 
          postvar-=1
        } else {
          nullcheck = true
        }
      }
});

function scroller() {
    console.log(postvar)
    if (nullcheck == false) {

    if (wrapper.scrollTop + wrapper.offsetHeight + 10 > content.offsetHeight) {
      for (let i=0; i<3; i++){
          if (nullcheck == true) {
            break
          }
          let xmlHttpReq = new XMLHttpRequest();
          xmlHttpReq.open("GET", "/api/^api^/"+postvar, false); 
          xmlHttpReq.send(null);
        if (xmlHttpReq.responseText !== "null") {
          console.log(nullcheck)
          var postarray = JSON.parse(xmlHttpReq.responseText)
          
          content.innerHTML += `<center><div class=post><a href=/user/{{user}}><textarea class=name rows=\"2\" readonly>Posted by {{user}}</textarea></a><br><textarea class=name rows="2"   readonly>{{title}}</textarea><br><textarea style="resize: vertical;" readonly class=textpost rows=\"5\">{{content}}</textarea><br><a href=/comments/{PostID}><button>Comments ( WIP)</button>
            </a></br></div> </center>`.replaceAll("{{user}}",postarray["author"]).replace("{{title}}",postarray["title"]).replace("{{content}}",postarray["content"]); 
          postvar-=1
        } else {
          nullcheck = true
        }
      }

    } 

  }



    

}

wrapper = document.getElementById("wrapper");
content = document.getElementById("content");
test = document.getElementById("test");

content.innerHTML = "";


if (wrapper.addEventListener)
  wrapper.addEventListener("scroll", scroller, false);

else if (wrapper.attachEvent)
  wrapper.attachEvent("onscroll", scroller);
</script>