<style>
	.userprofile {
		width: 10%;
		height: 95%;
		position: relative;
		border-style: solid;
		border-radius: 10px;
		border-color: #F97B72;
		border-width: 2px;
		background-color: #F97B72;
		float: right;		
	}
    .sidebaruser {
		width: 80%;
		height: 88%;
		position: sticky;
		border-style: solid;
		border-radius: 10px;
		border-color: #F97B72;
		border-width: 2px;
		background-color: #282929;
    }
</style>
<div class=userprofile>
    <div class=sidebaruser>
            <center><a class="active" href="/" ><img id=logo class=logo src="^pfp^"></a></center>
            <a class=sidebutton href="/login"><button>^profile^</button></a>
            <a class=sidebutton href="/sendpost"><button>hi</button></a>
            <a class=sidebutton href="/about"><button>hello</button></a>
    </div>
</div>