<style>
	.userprofile {
		width: 10%;
		height: 100%;
		position: sticky;
		border-style: solid;
		border-radius: 10px;
		border-color:  #FCFFB2;
		border-width: 2px;
		background-color: #F97B72;
		float: right;
	}
    .sidebaruser {
		width: 95%;
		height: 100%;
		position: sticky;
		border-style: solid;
		border-radius: 10px;
		border-color: #F97B72;
		border-width: 2px;
		background-color: #282929;
    }
</style>

<div class=userprofile>
    <center>
        <div class=sidebaruser>
                <center><a class="active" href="/" ><img id=logo class=logo src="^pfp^"></a></center>
                <a class=sidebutton href="/login"><button>^profile^</button></a>
                <center><textarea readonly style="text-align: center;">Hello world</textarea></center>
                <button>Follow</button>
        </div>
    </center>
</div>