<div class=posts id=posts>
	<center>
	<h4>Change password</h4>
	<form action="/chngsetting/changepass">
		<label>Old Password</label>
		<br>
		<input class=input type="password" name="oldpass" required>
		<br>
		<label>New password</label>
		<br>
		<input class=input type="password" name="newpass" required>
		<br>
		<label>New password again</label>
		<br>
		<input class=input type="password" name="newpass2" required>
		<br>
		<input class=styledbutton type="submit" value="Save">
	</form>
	</center>
</div>
