
<div class=posts id=posts>
	<center>
	<h4>Change Profile Picture</h4>
	<form action = "/uploadprofile" method = "post" enctype="multipart/form-data">
		<label for="files">
			<img accept="image/*" id="filesdisplay" src="^profile^" class=logo style="width: 10%;" alt="Change">
		</label>
		<br>
		<input style="visibility:hidden;" id=files type="file" name="file"><br>
		<input type = "submit" value="Upload">
	</form>  
	<br>
	<h4>Change password</h4>
	<form action="/chngsetting/changepass">
		<label>Old Password</label>
		<br>
		<input class=input type="password" name="oldpass" required>
		<br>
		<label>New password</label>
		<br>
		<input class=input type="password" name="newpass" required>
		<br>
		<label>New password again</label>
		<br>
		<input class=input type="password" name="newpass2" required>
		<br>
		<input class=styledbutton type="submit" value="Save">
	</form>
	<br>
	<form action="/chngsetting/changebio">
		<label>Change Bio</label><br>
		<textarea name="bio" required></textarea><br>
		<input class=styledbutton type="submit" value="Save">
	</form>
	<br>
	<form action="/chngsetting/changetheme">
		<label>Change theme</label>
		<select name="theme">
			<option value="normal.html">Default</option>
			<option value="classic.html">Classic</option>
			<option value="dark.html">Dark</option>
		</select>
		<input class=styledbutton type="submit" value="Save">
	</form>
	</center>
</div>

<script>
	const input = document.getElementById('files');
	const preview = document.getElementById('filesdisplay');
	input.addEventListener('change', function() {
	  if (input.files && input.files[0]) {
		const reader = new FileReader();
		reader.onload = function(e) {
		  preview.src = e.target.result;
		};
		reader.readAsDataURL(input.files[0]);
	  }
	});
	</script>